<body background="../scratches/portal.jpg">
<button class="bhome" type="button">Home</button>
<button class="bau" type="button">About Us</button>
<button class="bcon" type="button">Contact</button>
<div class="bcentar">
  <button class="bop" style="vertical-align: middle" routerLink="/shirts"><span>Our Products</span></button>
  <button class="bcc" style="vertical-align: middle"><span>Community Creations</span></button>
  <button class="bcyo" style="vertical-align: middle"><span>Create Your Own</span></button>
</div>

<a class="btn btn-default pull-right"(click)="logout()" href="#">Logout</a>
</body>
